/* ---------------------------------------------------------- Carousel ----------------------------------------------------*/
  
.Carousel{
    margin-top: 4vw;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    background-color: aquamarine;
}

.Carousel .item{
    width: 80%;
    height: 20vw;
}

.Carousel .item .slide1{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("../../../images/banniere1.jpeg");
}

.Carousel .item .slide2{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("../../../images/banniere2.jpeg");
}

