.titre {
    color: #2ACEF2;
    text-align: center;
    font-size: 2.5vw;
    margin-top: 1.5%;

}

.contProfil {
    display: flex;
    /* Utilisation de flexbox pour diviser en deux parties */
}

.contProfil2 {
    display: flex;
    /* Utilisation de flexbox pour diviser en deux parties */
}

.left {
    margin: 1%;
    flex: 0.65;
    /* Partie de gauche occupant 50% de l'espace */

    /* Espacement intérieur pour la partie de gauche */
    display: flex;
    border-radius: 5%;
}

.left img {
    width: 55%;
    margin: auto;
    border-radius: 5%;
}

.right {
    margin: 1%;
    flex: 1.35;
    /* Partie de droite occupant 50% de l'espace */

    padding: 2%;
    /* Espacement intérieur pour la partie de droite */
}

.leftbis {
    flex: 0.675;
    /* Partie de gauche occupant 50% de l'espace */

    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    /* Espacement intérieur pour la partie de gauche */

}

.rightrouage {

    justify-content: right;
    flex: 0.675;
    /* Partie de droite occupant 50% de l'espace */

    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    /* Espacement intérieur pour la partie de droite */
}

.name {
    font-family: serif, bold;
    font-size: 2.5vw;
    color: #2ACEF2;
    margin-bottom: 8%;

}

.travail {
    /* font-weight: 400; */
    font-size: 2vw;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10%;
}

.infoProf {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2vw;
}

img .modif {
    text-align: right;
}

.contact {
    font-size: 1.5vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}