.container {
    background-color: #F8F8F8;
    margin-bottom: 4%;
    padding: 2%;
    border-radius: 15px;
}

.container .info1{margin-bottom: 0.5%;}

.container label{margin-right: 2%;}
.container input{background-color: transparent; border: none; border-bottom: solid black 1px; width: 80%;}
.container .info1 label{font-size: 1.2vw; font-weight: 700;}
.container .info2 label, .container .info3 label{font-size: 1vw;}
.container textarea{width: 99%; background-color: transparent; border-radius: 5px; padding: 0.5%; margin-top: 0.5%;}