 
.ordonnances h1 {
    color: #2ACEF2;
    font-size: 350%;
    text-align: center;
  } 

 .gyneco {
    font-size: 300%;
    color : black;
  }


.ordonnances .bouton {
   display: flex;
   justify-content: flex-end;
  }


  .ordonnances .trier {
    width: 6vw; /* Largeur du bouton */
    height: 2vw; /* Hauteur du bouton */
    margin-right: 1%;
    border-radius: 20px;
    background-color:#2ACEF2;
    display: flex;
    color : white;
    align-items: center;
  }



  .ordonnances .filtrer {
    height: 2vw;
    width: 6vw; /* Largeur du bouton */
    border-radius: 20px;    
    background-color: #2ACEF2;
    margin-right: 6%; 
    color : white;
    display : flex;
    align-items: center;
  }

  .ordonnances .trier img {
    width:1vw;
    height:1vw;
    margin-left:0.7vw ;
  }

  .ordonnances .filtrer img {
    width:1vw;
    height:1vw;
    margin-left:0.5vw ;
  }

  .ordonnances .my-paragraph1 {
    font-size: 130%;
  }

  .ordonnances .my-paragraph2 {
    font-size: 130%;
    margin-top: 6vw;
  }

  .ordonnances .container_ordo {
    display: flex;
    align-items: center; /* Aligner les éléments verticalement au centre */
  }
  
  .ordonnances .pdp_ordo img {
  
    width:7vw;
    height: 7vw;
}

  .ordonnances .pdp_ordo {
      width: 14%;
      height: 10%;
      padding: 2%;
      background-color: #2ACEF2;
      border-radius: 25%;
      margin-right: 4vw;
      margin-left: 5vw;
      margin-bottom: 4vw;
      /* margin-top: vw ; */
      position: relative;
      bottom: -1vw;
      display : flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
  }

  .ordonnances .pdp_ordo .title_ordo{
    margin-top: 1vw;
    color : white;
    font-size: 130%;
  }

  .ordonnances .info_ordo {
    display: flex;
    margin-left: 5%;
    padding-bottom: 2vw;
    border-bottom: solid black 1px  ;
    width: 60%;
  }

  .ordonnances .Name_ordo {
    width: 80%
  } 
  .ordonnances .option_ordo {
    width: 20%;
    display :flex;
  }

  
  .ordonnances .container_ordo .option_ordo .coeur {
    width: 4vw; /* Largeur du bouton */
    height: 3vw; /* Hauteur du bouton */
    background-color: rgb(255, 255, 255);
    border-radius: 25%;
    position: relative;
    /* top:-1vw;; */
  }

  .ordonnances .container_ordo .option_ordo .coeur img {
    width:2vw;
    height: 2vw; 
  
  }

  


  .ordonnances .container_ordo .option_ordo .points img{
    width:2vw;
    height: 2vw;
  }

  .ordonnances .container_ordo .option_ordo .points {
    width:4vw ; /* Largeur du bouton */
    height:3vw ; /* Hauteur du bouton */
    background-color: rgb(255, 255, 255);
    border-radius: 25%;
    position: relative;
    /* top : -1vw; */
  }


