 
.ordonnances h1 {
    color: #2ACEF2;
    font-size: 400%;
    text-align: center;
  } */

.ordonnances .containerordo.infoordo.Nameordo h2 {
    font-size: 300%;
  }


.ordonnances .bouton {
   display: flex;
   justify-content: flex-end;
  }


  .ordonnances .trier {
    width: 6vw; /* Largeur du bouton */
    height: 2vw; /* Hauteur du bouton */
    margin-right: 1%;
    border-radius: 20px;
    background-color:#2ACEF2;
    display: flex;
    color : white;
    align-items: center;
  }



  .ordonnances .filtrer {
    height: 2vw;
    width: 6vw; /* Largeur du bouton */
    border-radius: 20px;    
    background-color: #2ACEF2;
    margin-right: 6%; 
    color : white;
    display : flex;
    align-items: center;
  }

  .ordonnances .trier img {
    width:1vw;
    height:1vw;
    margin-left:0.7vw ;
  }

  .ordonnances .filtrer img {
    width:1vw;
    height:1vw;
    margin-left:0.5vw ;
  }

  .ordonnances .my-paragraph1 {
    font-size: 130%;
  }

  .ordonnances .my-paragraph2 {
    font-size: 130%;
  }

  .ordonnances .containerordo {
    display: flex;
    align-items: center; /* Aligner les éléments verticalement au centre */
  }
  
  .ordonnances .pdpordo img {
  
    width:7vw;
    height: 7vw;
}

  .ordonnances .pdpordo {
      width: 14%;
      height: 10%;
      padding: 2%;
      background-color: #2ACEF2;
      border-radius: 25%;
      margin-right: 10vw;
      margin-left: 5vw;
      margin-bottom: 4vw;
      display : flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
  }

  .ordonnances .pdpordo .titleordo{
    margin-top: 1vw;
    color : white;
    font-size: 130%;
  }

  .ordonnances .infoordo {
    display: flex;
    margin-left: 5%;
    padding-bottom: 2vw;
    border-bottom: solid black 1px  ;
    width: 60%;
  }

  .ordonnances .Nameordo {
    width: 80%
  } 
  .ordonnances .optionordo {
    width: 20%;
  }

  
  .ordonnances .containerordo .optionordo .coeur {
    width: 4vw; /* Largeur du bouton */
    height: 3vw; /* Hauteur du bouton */
    background-color: rgb(255, 255, 255);
    border-radius: 25%;
  }

  .ordonnances .containerordo .optionordo .coeur img {
    width:2vw;
    height: 2vw; 
  }

  


  .ordonnances .containerordo .optionordo .points img{
    width:2vw;
    height: 2vw;
  }

  .ordonnances .containerordo .optionordo .points {
    width:4vw ; /* Largeur du bouton */
    height:3vw ; /* Hauteur du bouton */
    background-color: rgb(255, 255, 255);
    border-radius: 25%;
  }


