.header_sign{background-color: #2ACEF2; padding-left: 8%;}
.header_sign .fond{display: flex; align-items: center;}
.header_sign h1{margin-top: 6%; margin-bottom: 6%; font-weight: 750; color: #4a7ee7; font-size: 3vw; width: 65%;}
.header_sign img{width: 20%; margin-top: 2%;}

.sign form {margin-left: 8%; margin-right: 8%; margin-top: 5%;}
.sign input{width: 30%; margin-left: 35%; margin-right: 35%; margin-bottom: 4%; font-size: 1.2vw;border: none; border-bottom: solid 1px #adadab;}
.sign button{margin-left: 45%; margin-right: 45%; margin-bottom: 4%; width: 10%; background-color: #2ACEF2; color: white; font-size: 1vw;}
.sign .pass{margin-left: 34%; margin-right: 33%; margin-bottom: 4%; color:#4a7ee7; font-size: 1vw; margin-bottom: 15%;}





.error {
    color: red;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;

    font-size: 1vw;
    margin-top: 1%;
    margin-bottom: 4%;
    font-style: italic;
}