.titleSign {
    color: #2ACEF2;
    /* text-align: center; */
    font-size: 2.5vw;
    margin-top: 3%;
}

.log {
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 5%;
    top: 50%;
    /* left: 50%; */
    width: 30%;
    background-color: rgb(255, 255, 255); 
    border-radius: 10px;
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: tomato; */
}

.form {
    padding: 0 2vw;
    margin: 0 2vw;
    width: 100%;
    /* justify-content: center; */
    /* align-items: center; */
}

.log h1 {
    text-align: center;
    /* padding: 0 0 2vw 0; */
    /* border-bottom: 0.1vw solid silver; */
}

.txt_field {
    position: relative;
    border : none;

    border-bottom: 0.13vw solid #adadab;
    margin: 2vw 0;
    margin-bottom: 3%;
    font-size: 1.2vw;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    justify-content: right;
}

.txt_field label {
    padding-bottom: 10%;
    position: absolute;
    top: 50%;
    left: 1%;
    color: #a4a2a2;
    transform: translateY(-50%);
    font-size: 1.1vw;
    pointer-events: none;
}

.center-button {
    margin-top: 15%;
    margin-bottom: 7%;
    /* margin-right: 0%; */
    /* display: flex; */
    font-size: 1.4vw;
}

.pass {
    margin: 1%;
    text-align: center;
    font-weight: 400;
    font-size: 1.2vw;
    color: #2ACEF2;
    font-style: italic;

}

.buttonsign {
    background-color: #2ACEF2;
    color: white;
}

.error {
    color: red;
    font-size: 1vw;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    font-style: italic;
}