/* ---------------------------------------------------------- help section ----------------------------------------------------*/
.help{margin: 5%;}
.help .division, .myspace .division{margin-top: 4%; display: flex; background-color: #F5F5F5;}

.help .picture{margin-left:3%; width: 40%;}
.help .picture img{width: 100%}

.help .explication{width: 60%; margin-left: 5%; padding-top: 3%; background-color: #2A86F2; border-radius: 10px;}
.help h1{
    color: #2ACEF2;
    font-size: 2vw;
    font-weight: 800;
    padding: 5%;
}
.help .steps{
    display: flex;
    width: 100%;
    padding: 2.5%;
    margin-left: 5%;
}

.help .step {
    background-color: #2ACEF2;
    text-align: center;
    height: 5vh;
    width: 3vw;
    border-radius: 50%;
  
    font-size: 1.2vw;
    font-weight: 700;
    color: white;
    margin-right: 5%;
  
    display: flex;
    align-items: center;
    justify-content: center;
}
  

.help .description{
    font-size: 1.2vw;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
}

.myspace{width: 50%;}
.myspace .link{width: 60%; padding-top: 3%; background-color: #2ACEF2; border-radius: 10px;}

