/* ---------------------------------------------------------- Informations gÃ©nÃ©rales ----------------------------------------------------*/
*, a{
  padding : 0;
  margin : 0;
  font-style: normal;
  text-decoration: none;
  list-style: none;
}

/* ---------------------------------------------------------- Titres ----------------------------------------------------*/
header h1, footer h1{color: #FFFFFF; font-weight: 600; font-size: 2.5vw;}
header h2{color: #FFFFFF; font-weight: 500; font-size: 1.2vw; text-align: center;}

/* ---------------------------------------------------------- header ----------------------------------------------------*/

.navbar{
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  align-items: center;

  height: 8vh;
  padding: 2%;
  /* padding-left: 3%; */

  background: #2ACEF2;
}

.navbar a{width: 18%;}
.navbar .user {width: 2.5vw;}
.navbar a:hover {font-weight: 600;}
.navbar .nav-links ul{display: flex; align-items: center;}

.navbar .nav-links ul li{
  margin-left: 0.5vw;
  font-weight: 400;
  transition: font-weight 1s;
  font-size: 0.9vw;
  color: #FFFFFF;
}

.navbar .nav-links ul li button{background-color: transparent; font-size: 0.9vw; color: white; font-weight: 400;}

/* ---------------------------------------------------------- menu ----------------------------------------------------*/
.menu{
  display: flex;
  justify-content: left;
  align-items: left;
  width: 70%;
  height: 3.8vw;
  border-bottom: 0.17vw solid #181d79;

  margin-bottom: 3%;
}
.menu .links ul{
  display: flex; 
  align-items: left; 
  align-items: left; 
  justify-content: space-between;
}

.menu .links ul li{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 10vw;
  /* color: #ffffff; */
  font-weight: 700;
  transition: font-weight 1s;
  font-size: 1vw;
  /* margin: 0 2.6vw;  */
  /* margin-right: 5.2vw;  */
}

.menu a:hover {
  color: #535bf2;
}


.menu_co_0{
  display: flex;
  justify-content: left;
  align-items: left;
  width: 50%;
  height: 3.8vw;
  border-bottom: 0.17vw solid #000000;
}


.menu_co_1{
  display: flex;
  justify-content: left;
  align-items: left;
  width: 50%;
  height: 3.8vw;
  border-bottom: 0.17vw solid #000000;
}



/* ---------------------------------------------------------- menu Home ----------------------------------------------------*/
.menu_home{
  display: flex;
  justify-content: left;
  align-items: left;
  width: 70%;
  height: 3.8vw;
  border-bottom: 0.17vw solid #000000;
}

.menu_home_non_co{
  display: flex;
  justify-content: left;
  align-items: left;
  width: 29%;
  height: 3.8vw;
  border-bottom: 0.17vw solid #000000;
}

.menu_home_co_0{
  display: flex;
  justify-content: left;
  align-items: left;
  width: 50%;
  height: 3.8vw;
  border-bottom: 0.17vw solid #000000;
}

.menu_home_co_1{
  display: flex;
  justify-content: left;
  align-items: left;
  width: 70%;
  height: 3.8vw;
  border-bottom: 0.17vw solid #000000;
}

.menu_home .links ul, .menu_home_non_co .links ul, .menu_home_co_0 .links ul, .menu_home_co_1 .links ul{display: flex; 
  align-items: left; 
  /* align-items: left;  */
  justify-content: space-between;
}

.menu_home .linkHome, .menu_home_non_co .linkHome, .menu_home_co_0 .linkHome, .menu_home_co_1 .linkHome{color: #000000; align-self: left; 
/* .menu_home .linkHome{color: #181d79; align-self: left;  */
    margin-right: 4.2vw;
}

.menu_home .linkHomefin, .menu_home_non_co .linkHomefin, .menu_home_co_0 .linkHomefin, .menu_home_co_1 .linkHomefin{color: #000000; align-self: left; 
  /* margin-right: 5.2vw; */
  margin-left: 4.2vw;
  width: 8vw;

}

.menu_home .links ul li{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 10vw;
  height: 4vw;
  font-weight: 700;
  transition: font-weight 1s;
  font-size: 1vw;
}

.menu_home_non_co .links ul li{
  display: flex;
  justify-content: left;
  align-items: center;
  /* width: 12vw; */
  height: 4vw;
  font-weight: 700;
  transition: font-weight 1s;
  font-size: 1vw;
}

.menu_home_co_0 .links ul li{
  display: flex;
  justify-content: left;
  align-items: center;
  /* width: 12vw; */
  height: 4vw;
  font-weight: 700;
  transition: font-weight 1s;
  font-size: 1vw;
}

.menu_home_co_1 .links ul li{
  display: flex;
  justify-content: left;
  align-items: center;
  /* width: 12vw; */
  width: auto;
  height: 4vw;
  font-weight: 700;
  transition: font-weight 1s;
  font-size: 1vw;
}

.menu_home a:hover, .menu_home_non_co a:hover, .menu_home_co_0 a:hover, .menu_home_co_1 a:hover {
  color: #4a7ee7;
}

.divlinks{
  display: flex,
}

/* ---------------------------------------------------------- footer ----------------------------------------------------*/

footer{
  display: flex;
  align-items: center;
  padding: 3%;
  background-color: #27448E;
}

footer .txt{color: white; margin-left: 75%; font-weight: 700; font-size: 1vw;}